.mission {
  margin-bottom: 20px;
  height: 350px;
  width: 100vw;
  display: flex;
  margin-top: 0;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d8fadf; 
  margin-top: -19px;
}

.mission h1 {
  color: #228436;
  font-size: 28px;
  text-decoration: underline;
  margin-bottom: 10px;
  position: relative;
}

.mission p {
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
  position: relative;
  z-index: 2;
  padding-top: 50px;
  max-width: 80%;
}

