body {
  overflow-x: hidden; 
}
.maincontainer {
  background-color: #9be5aa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupmain {
  width: 70vw;
  height: fit-content; 
  background-color:#82cc91 ;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  border-radius: 0 0 60px 60px;
  clip-path: inset(0 0 0 0 round 300px); 
}

.signup-container {
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-image: url('../assets/bgphoto.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(215, 254, 217);
  width: 100%;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container label {
  margin-bottom: 10px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"],
.signup-container input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-container input[type="checkbox"] {
  margin-right: 10px;
}

.signup-container .terms {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap; 
}

.signup-container .terms a {
  margin-left: 5px;
  color: #007bff;
  text-decoration: none;
}

.signup-container .terms a:hover {
  text-decoration: underline;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}


.signup-container .error {
  color: red;
  font-size: 12px;
}

@media (max-width: 768px) {
  .signup-container {
    max-width: 90%;
    padding: 15px;
  }

  .signup-container h2 {
    font-size: 24px;
  }

  .signup-container button {
    font-size: 14px;
    padding: 8px;
  }

  .signup-container input[type="text"],
  .signup-container input[type="email"],
  .signup-container input[type="password"],
  .signup-container input[type="file"] {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .signup-container {
    max-width: 100%;
    padding: 10px;
  }

  .signup-container h2 {
    font-size: 20px;
  }

  .signup-container button {
    font-size: 12px;
    padding: 6px;
  }

  .signup-container input[type="text"],
  .signup-container input[type="email"],
  .signup-container input[type="password"],
  .signup-container input[type="file"] {
    padding: 6px;
    font-size: 12px;
  }
}
